################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Deadlock
/Deadlock/bin
/Deadlock/obj/Debug
/packages
